<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!--<script type="text/javascript" src="node_modules\mustache\mustache.js" ></script>-->
  <title>Championship</title>
  <style >
	.st3{
		border-left: 3px solid darkblue;
	}
	.st4{
		border-left: 3px solid blue;
	}
 </style>
 </head>
 <body>
  <font color="black" size="7">
	<hr size="0" width="1300" color="black">
	  <p align="center" style="font-size: 180%; transform: scaleY(1.2); margin-top: -15px"><strong>Турнирная таблица</strong></p>
	  <p align="center" style="color: black; margin-top: -50px; letter-spacing: 10px;"><strong>после 4 тура</strong></p>
	<hr size="5" width="1300" color="black">
  </font>
  <font color="#666666" size="5">
	<form action="http:\\localhost:8080\turnir_table.html" method="get">
	<input style="position:fixed; left:310px; top:380px; border-radius:7px" type="submit" name="change" value="on/off">
	</form>
	<table cellpadding="5" style="text-align:center;" align="center" width="1000" height="400">
	 <tr style="color: black;"><th align="left">Команда</th><th>Игры</th><th>Выигрыши</th><th>Ничьи</th><th>Поражения</th><th>Мячи</th><th>Очки</th><tr/>
	 <tr><hr style="position: relative; top: 119px"size="0px" width="995" color="grey"><td th:class="st1 + ' ' + ${cls3}"><img align="left" src="/images/dinamo.jpg">Динамо</td><td>4</td><td>4</td><td>0</td><td>0</td><td>14-6</td><td>12</td><tr/>
	 <tr><hr style="position: relative; top: 153px"size="0px" width="995" color="grey"><td th:class="st2 + ' ' + ${cls4}"><img align="left" src="/images/chert.jpg">Чертаново</td><td>4</td><td>4</td><td>0</td><td>0</td><td>8-2</td><td>12</td><tr/>
	 <tr><td class="st st1"><img align="left" src="/images/loc.png">Локомотив</td><td>4</td><td>2</td><td>1</td><td>1</td><td>9-5</td><td>7</td><tr/>
	 <tr><td><img align="left" src="/images/crasnodar.jpg">Краснодар</td><td>3</td><td>2</td><td>0</td><td>1</td><td>7-1</td><td>6</td><tr/>
	 <tr><td><img align="left" src="/images/zenit.jpg">Зенит</td><td>4</td><td>2</td><td>0</td><td>2</td><td>5-6</td><td>6</td><tr/>
	 <tr><td><img align="left" src="/images/spartak.jpg">Спартак</td><td>3</td><td>1</td><td>1</td><td>1</td><td>3-4</td><td>4</td><tr/>
	 <tr><td><img align="left" src="/images/rubin.jpg">Рубин</td><td>4</td><td>1</td><td>0</td><td>3</td><td>7-9</td><td>3</td><tr/>
	 <tr><td><img align="left" src="/images/cska.jpg">ЦСКА</td><td>4</td><td>0</td><td>2</td><td>2</td><td>5-9</td><td>2</td><tr/>
	</table>
  </font>
 </body>
</html>